DISCORD_TOKEN=your_discord_bot_token
MU_USERNAME=your_mu_username
MU_PASSWORD=your_mu_password
GOOGLE_CREDENTIALS_PATH=creds/service_account.json
HOST_OPS_DB_PATH=data/host_ops.db
HOST_OPS_LIVE_MODE=false
HOST_OPS_COMMAND_PREFIX=!
HOST_OPS_POLL_INTERVAL_SECONDS=60
ALLOWED_GUILD_IDS=your_guild_id
ALLOWED_CHANNEL_IDS=your_channel_id,another_channel_id
